/* 
 - FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

 - SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik:wght@400;500;600;700&display=swap');

html {
  /* default: 10px */
  /* 10 / 16 * 100 = 62.5 */
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  background-image: linear-gradient(90deg, #647ce6, #2540b9);
}

.container {
  position: relative;
  height: 5.2rem;
}

.search {
  background-color: #fff;
  border: 0;
  font-size: 2.4rem;
  padding: 2rem;
  height: 5.2rem;
  width: 5.2rem;
  transition: width 0.3s ease;
}

.btn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 2.4rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 5.2rem;
  width: 5.2rem;
  transition: transform 0.3s ease;
}

.btn:focus,
.search:focus {
  outline: 0;
}

.container.active .search {
  width: 20rem;
}

.container.active .btn {
  transform: translateX(19.8rem);
}
